$mobile-max-width : 900px;

html{
    height      : 100%;
    overflow-x  : hidden;
    body{
        min-height : 100vh;
        #root{
            min-height      : 100vh;
            display         : flex;
            flex-direction  : column;
            .content{
                padding     : 0 15px;
                width       : 900px;
                margin      : auto;
            }
            .row{
                display     : flex;
                flex-flow   : row wrap;
                width       : 100%;
                .col{
                    margin  : 0 15px 15px 15px;
                    flex    : 1;
                    &:first-child{
                        margin-left     : 0;
                    }
                    &:last-child{
                        margin-right    : 0;
                    }
                }
            }
            
        }
    }
}

@media only screen and ( max-width : $mobile-max-width ){
    #root{
        .content{
            width   : calc(100% - 30px)!important;
        }
        .row{
            .col{
                width           : 100%;
                display         : block;
                flex            : auto!important;
                margin          : 0!important;;
                margin-bottom   : 15px!important;;
            }
        }
    }
}