.uikit-badge{
    display     : inline-block;
    padding : 7px 2px;
    width: 60px;
    font-size   : 11px;
    font-weight : 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;


    @each $theme_name, $theme in $themes {
        &.badge-#{$theme_name} {

                background-color        : theme($theme_name, 'base');
                color                   : theme($theme_name, 'text');

            &.border{
                border     : 1px solid theme($theme_name, 'base');
            }
            
        }
    }
}