.uikit-button{
    box-shadow      : none;
    border-radius   : 3px;
    display         : flex;
    border          : 1px solid $transparent;
    align-items     : center;
    justify-content : center;
    float           : left;
    cursor          : pointer;

    &.size-default{
        padding     : 8px 10px;
        font-size   : 14px;
    }

    &.size-small{
        padding     : 5px 7px;
        font-size   : 12px;
    }

    @each $theme_name, $theme in $themes {
        &.btn-#{$theme_name} {

                background-color        : theme($theme_name, 'base');
                color                   : theme($theme_name, 'text');

            &:hover {
                    background-color    : theme($theme_name, 'light');
            }

            &:active {
                    background-color    : theme($theme_name, 'dark');
                    color               : theme($theme_name, 'text');
            }

            &:focus {
                    box-shadow          : rgba(theme($theme_name, 'base'), .6) 0px 0px 0px 2px;
            }

            &:disabled {
                cursor                  : not-allowed;
                
                    color               : $disabled-color;
                    background-color    : $disabled-background-color;
            }

            &.border{
                border     : 1px solid theme($theme_name, 'base');
            }
            
        }
    }
}