@font-face {
    font-family: "uikit-icon";
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
         url("../fonts/icons.woff2") format("woff2"),
         url("../fonts/icons.woff") format("woff"),
         url("../fonts/icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  [class^="uikit-icon-"]:before, [class*=" uikit-icon-"]:before,
  [class^="uikit-icon-"]:after, [class*=" uikit-icon-"]:after {   
    font-family: uikit-icon;
    font-style: normal;
  }

.uikit-icon-loupe:before { content: "\f100"; }
.uikit-icon-cancel:before { content: "\f101"; }
.uikit-icon-up-arrow:before { content: "\f102"; }
.uikit-icon-down-arrow:before { content: "\f103"; }
.uikit-icon-trash:before { content: "\f104"; }
.uikit-icon-check:before { content: "\f105"; }
.uikit-icon-plus:before { content: "\f106"; }
.uikit-icon-edit:before { content: "\f107"; }
.uikit-icon-filter:before { content: "\f108"; }
.uikit-icon-exclamation:before { content: "\f109"; }