.uikit-input {
    display     : inline-block;
    >.title {
        display     : block;
        font-size   : 13px;
        color       : $label-color;
        width       : 100%;
        line-height : 23px;
        }
        input{
            padding         : 8px 10px;
            font-size       : 14px;
            border          : 1px solid $border-color ;
            box-shadow      : none;
            border-radius   : 3px;
            display         : block;
            
            &[disabled]{
                color: $disabled-color;
            }
        }
        &.error{
            input{
                border  : 1px solid $border-danger-color;
            }
        }
        .prefix-icon{
            position    : absolute;
            margin      : 11px 10px;
            z-index     : 1;
            color       : $placeholder-color;
            font-size   : 13px;
        }
        .prefix-icon + input{
            padding-left : 30px;
        }
        &.full{
            input{
                width   : calc(100% - 20px);
            }
            .prefix-icon + input{
                width   : calc(100% - 40px);
            }
        }

}
