.uikit-modal{
    position            : fixed;
    z-index             : 99;
    background-color    : rgba(0,0,0,0.6);
    display             : flex;
    justify-items       : center;
    align-items         : center;
    width               : 100%;
    height              : 100%;
    .modal-container{
        width            : 400px;
        max-width        : 100%;
        max-height       : 100%;
        overflow         : auto;
        background-color : white;
        margin           : auto;
        border-radius    : 3px;
        height           : 0;
        transition       : all 0.2s ease;
        >.icon{
            display : flex;
            .uikit-icon{
                margin          : auto;
                font-size       : 40px;
                color           : $danger-color;
                margin-bottom   : 15px;
            }
        }
        >.title{
            display         : flex;
            justify-content : center;
            align-items     : center;
            margin-bottom   : 15px;
            font-size       : 20px;
            font-weight     : bold;
        }
        >.body{
            color           : $label-color;
            font-size       :14px;
            margin-bottom   : 15px;
            text-align      : center;
        }
        .footer{
            display         : flex;
            justify-content : center;
            .cancel-button-container{
                margin      : 0 15px;
                display     : flex;
                width       : 150px;
            }
            .done-button-container{
                margin  : 0 15px;
                display : flex;
                width   : 150px;
            }
        }
    }
    &.active{
        .modal-container{
            height  : auto;
            padding : 30px;
        }
    }
}