.uikit-select-box {
    display     : inline-block;
    >.title {
        display     : block;
        font-size   : 13px;
        color       : $label-color;
        width       : 100%;
        line-height : 23px;
        }
        select{
            padding         : 8px 10px;
            font-size       : 14px;
            border          : 1px solid $border-color;
            box-shadow      : none;
            border-radius   : 3px;
            display         : block;
        }

        &.error{
            select{
                border  : 1px solid $border-danger-color;
            }
        }

        &.full{
            select{
                width   : 100%;
            }
        }
}