.uikit-table{
    border                     : 1px solid #e4eafd;
    border-bottom-left-radius  : 3px;
    border-bottom-right-radius : 3px;
    .thead{
        display     : flex;
        flex-wrap   : wrap;
        .trow{
            display          : flex;
            align-content    : space-evenly;
            flex-wrap        : wrap;
            width            : 100%;
            padding          : 10px 10px;
            background-color : #e4eafd;
            font-size        : 13px;
            font-weight      : bold;
            color            : $label-color;
        }
    }

    .tbody{
        display     : flex;
        flex-wrap   : wrap;
        max-height  : calc(100vh - 430px);
        overflow-y  : auto;
        min-height  : 375px;
        &.min-bdoy{
            min-height  : auto;
        }
        .trow{
            display         : flex;
            align-content   : space-evenly;
            flex-wrap       : wrap;
            width           : 100%;
            padding         : 10px 10px;
            font-size       : 14px;
            justify-content : center;
            &:nth-child(even){
                background-color    : #f9f9f9;
            }
            .td{
                display     : flex;
                align-items : center;
            }
        }
    }

    .table-no-body{
        display          : flex;
        padding          : 15px;
        justify-content  : center;
        color            : $label-color;
        font-size        : 14px;
        .title{
            padding-left : 5px;
        }
    }

}