#job-create-form{
    margin  : 15px auto;

    >.title{
        padding     : 15px 0;
        display     : block;
        font-weight : bold;
    }
    .value-fields{
        width           : 100%;
        display         : flex;
        align-content   : space-evenly;
        flex-wrap       : wrap;

        .field-col{
            display : flex;
            flex    : 1;
            margin  : 0 15px 15px 0;
        }
        .job-name-field-container{
            flex: 48.5%;
        }
    }
    .submit-container{
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        margin-bottom   : 15px;
    }
}

@media ( max-width : $mobile-max-width ){
    #job-create-form{
        .value-fields{
            display     : block!important;
            .field-col{
                margin  : 0 0 15px 0!important;
                width   : 100%!important;
            }
        }
        .submit-container{
            width   : 100%!important;
            margin  : 0 0 15px 0!important;
        }
    }
}