.job-list-container{
    width   : 100%;
    .title-container{
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        .title{
            padding     : 15px 0;
            font-weight : bold;
        }
        .count{
            color       : $label-color;
            font-size   : 12px;
            text-align  : right;
            padding-top : 10px;
        }
    }

    .uikit-table{
        .thead{
            .trow{
                .th:last-child{
                    text-align : center;
                }
            }
        }
        .actions{
            width           : 100%;
            justify-content : flex-end;
            display         : flex;
            align-items     : center;
            
            .delete-button{
                margin-left  : 5px;
                margin-right : 5px;
                .uikit-icon{
                    color : $label-color;
                }
            }
            .edit-button{
                margin-right : 5px;
                .uikit-icon{
                    color : $label-color;
                }
            }
        }
    }
}

@media ( max-width : $mobile-max-width ){
    .job-list-container{
        .uikit-table{
            .actions{
                display : flow-root!important;
                .delete-button{
                    margin-left     : 0;
                    margin-bottom   : 5px;
                }
                .edit-button{
                    margin-left     : 0;
                    margin-bottom   : 5px;
                }
            }
        }
    }
}