.job-filter-container{
    display                 : flex;
    padding                 : 10px;
    background-color        :#f1f4ff;
    border                  : 1px solid #e4eafd;
    border-top-left-radius  : 3px;
    border-top-right-radius : 3px;
    .job-name-field{
        width : calc(70% - 15px)!important;
        margin-right: 15px;
    }
    .job-priority-field{
        width : 30%!important;
    }
}