footer {
    margin-top       : auto;
    padding          : 15px 0;
    background-color : #f5f5f5;
    color            : gray;
    font-size        : 13px;
    a {
        color : gray;
    }
    .content {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
    }
    img.git {
        width        : 25px;
        margin-right : 10px;
    }
}