header{
    padding         : 10px 0;
    border-bottom   : 1px solid rgb(221, 221, 221);
    .logo-container{
        display         : flex;
        align-items     : center;
        text-decoration : none;
        img.logo{
            width   : 50px;
        }
        .title{
            font-weight : bold;
            font-size   : 22px;
            padding     : 0 5px;
            color       : #0a4698;
        }
    }
}